@font-face {
  font-family: 'C64 Pro Local';
  src: url('./assets/fonts/C64_Pro-STYLE.woff2') format('woff2');
}

@font-face {
  font-family: 'C64 Pro Mono Local';
  src: url('./assets/fonts/C64_Pro_Mono-STYLE.woff2') format('woff2');
}
